@import url("https://fonts.googleapis.com/css?family=Overpass:600|Source+Sans+Pro:600");
#header .header .header-nav, #header .header .header-profile, #requirements .container .requirements, #userList .container .userList, #auth .container .auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header, #landing .landing, #technologies .container .technologies, #auth .container .auth-form-positionList .auth-form-positionList-header, #auth .container .auth-form-selectFile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aquainted .aquainted, #userList .container .userList .userList-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header .header-profile-text, #landing .landing .landing-left-side, #aquainted .aquainted .aquainted-right-side, #technologies .container, #requirements .container, #userList .container, #userList .container .userList-header, #userList .container .userList .userList-user .user-info, #auth .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#technologies .container .technologies .technologies-card, #requirements .container .requirements .requirements-text, #auth .container .auth-form .auth-form-item, #auth .container .auth-form-positionList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#technologies .container .technologies .technologies-card:nth-child(1) .technologies-card-img, #technologies .container .technologies .technologies-card:nth-child(2) .technologies-card-img, #technologies .container .technologies .technologies-card:nth-child(3) .technologies-card-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#landing, #requirements, #requirements .container .requirements .requirements-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#landing .landing .landing-left-side .landing-left-side-item:nth-child(3), #userList .container a, #auth .container .auth-form-selectFile .auth-form-selectFile-button {
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

.invisible {
  display: none !important;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#auth .container .auth-form .auth-form-item, #auth .container .auth-form-positionList, #auth .container .auth-form-selectFile {
  width: 30%;
  margin-top: 30px;
  border: 1px #8d8c8c solid;
  border-radius: 5px;
}

body {
  margin: 0px;
  min-width: 320px;
  max-width: 2560px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

h3 {
  font-family: 'Overpass', sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

h4 {
  font-family: 'Overpass', sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

h5 {
  font-family: 'Overpass', sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

#header .header {
  padding: 10px;
  font-family: 'Overpass', sans-serif;
}

#header .header .header-nav {
  width: 470px;
}

#header .header .header-profile-text {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 14px;
}

#header .header span:nth-child(2) {
  color: #c2c2c2;
  font-size: 12px;
}

#header .header .header-profile-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

.logo {
  width: 134px;
  height: 24px;
}

#landing {
  margin-top: 60px;
  background-image: url("../images/bg-1.jpg");
}

#landing .landing {
  height: 725px;
  color: white;
}

#landing .landing .landing-left-side {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 40%;
  height: 70%;
}

#landing .landing .landing-left-side .landing-left-side-item:nth-child(2) {
  font-size: 20px;
}

#landing .landing .landing-left-side .landing-left-side-item:nth-child(3) {
  background-color: #ef6c00;
  width: 65%;
}

#aquainted {
  padding-top: 100px;
}

#aquainted .aquainted {
  height: 300px;
}

#aquainted .aquainted .aquainted-left-side {
  background-image: url("../images/man-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 35%;
  height: 70%;
}

#aquainted .aquainted .aquainted-right-side {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 55%;
  height: 70%;
}

#aquainted .aquainted .aquainted-right-side .aquainted-right-side-item:nth-child(2), #aquainted .aquainted .aquainted-right-side :nth-child(3) {
  font-size: 16px;
  color: #4c4b4b;
}

#aquainted .aquainted .aquainted-right-side .aquainted-right-side-item:nth-child(4) {
  text-align: center;
  color: #ef6c00;
}

#technologies .container .technologies {
  padding-top: 50px;
  padding-bottom: 100px;
}

#technologies .container .technologies .technologies-card {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 30%;
}

#technologies .container .technologies .technologies-card .technologies-card-item {
  padding: 5px 0px 5px 0px;
}

#technologies .container .technologies .technologies-card .technologies-card-text {
  font-size: 16px;
  color: #4c4b4b;
}

#technologies .container .technologies .technologies-card:nth-child(1) .technologies-card-img {
  background-image: url("../images/html.svg");
  height: 115px;
  width: 100px;
}

#technologies .container .technologies .technologies-card:nth-child(1) .technologies-card-text {
  width: 88%;
}

#technologies .container .technologies .technologies-card:nth-child(2) .technologies-card-img {
  background-image: url("../images/css.svg");
  height: 115px;
  width: 100px;
}

#technologies .container .technologies .technologies-card:nth-child(2) .technologies-card-text {
  width: 65%;
}

#technologies .container .technologies .technologies-card:nth-child(3) .technologies-card-img {
  background-image: url("../images/javascript.svg");
  height: 115px;
  width: 100px;
}

#technologies .container .technologies .technologies-card:nth-child(3) .technologies-card-text {
  width: 80%;
}

#requirements {
  background-image: url("../images/bg-2.jpg");
  color: #fff;
}

#requirements .container {
  font-family: 'SourceSansPro-Regular', sans-serif;
}

#requirements .container .requirements-header {
  padding-top: 150px;
}

#requirements .container .requirements {
  height: 700px;
}

#requirements .container .requirements .requirements-text {
  font-size: 16px;
  width: 40%;
  height: 60%;
  line-height: 1.5;
}

#requirements .container .requirements .requirements-img {
  background-image: url("../images/man-laptop-v1.svg");
  width: 50%;
  width: 429px;
  height: 361px;
}

#userList .container {
  font-family: 'SourceSansPro-Regular', sans-serif;
}

#userList .container .userList-header {
  padding-top: 50px;
  height: 150px;
}

#userList .container .userList .userList-user {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 30%;
}

#userList .container .userList .userList-user .user-photo {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

#userList .container .userList .userList-user .user-info {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 17% 0px 0px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#userList .container .userList .userList-user .user-info .user-text {
  color: #4c4b4b;
  font-size: 14px;
  width: 100%;
  padding-top: 3px;
}

#userList .container a {
  color: #ef6c00;
  border: 2px #ef6c00 solid;
  width: 20%;
  margin-top: 20px;
}

#auth {
  padding-top: 200px;
}

#auth .container .auth-form {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#auth .container .auth-form .auth-form-item .auth-form-item-header {
  color: #8d8c8c;
  font-size: 12px;
  background-color: #fff;
  margin: -8px 0px 0px -100px;
  position: absolute;
}

#auth .container .auth-form .auth-form-item input {
  border: none;
  width: 80%;
  outline: none;
  padding: 15px;
}

#auth .container .auth-form .auth-form-item .auth-form-item:nth-child(3) {
  width: 40%;
}

#auth .container .auth-form .auth-form-item .auth-form-item:nth-child(4) {
  width: 40%;
}

#auth .container .auth-form-positionList {
  padding: 15px 15px 0px 15px;
  width: 50%;
}

#auth .container .auth-form-positionList .auth-form-positionList-header {
  width: 100%;
  padding: 0px 15px 15px 15px;
}

#auth .container .auth-form-positionList .auth-form-positionList-item {
  border-top: 1px #8d8c8c solid;
  width: 100%;
  padding: 15px;
}

#auth .container .auth-form-positionList .auth-form-positionList-item:hover {
  background-color: rgba(239, 108, 0, 0.5);
}

#auth .container .auth-form-positionList:hover {
  cursor: pointer;
}

#auth .container .auth-form-selectFile {
  width: 40%;
}

#auth .container .auth-form-selectFile #fileInput {
  opacity: 0;
  position: absolute;
}

#auth .container .auth-form-selectFile .fileName {
  padding-left: 10px;
}

#auth .container .auth-form-selectFile .auth-form-selectFile-button {
  border: 2px #ef6c00 solid;
  padding: 14px;
  margin: -1px;
}

#auth .container .auth-form-selectFile .fileInput-undertext {
  position: absolute;
  margin: 40px 0px 0px 20px;
  color: #8d8c8c;
  font-size: 12px;
}
/*# sourceMappingURL=main.css.map */